body {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  text-align: center;
}

.main-footer {
  text-align: center;
}

.main-img-layer {
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1456610981819-586798dc53e2?ixlib=rb-0.3.5&s=38c4a54b7c696fd25af277863971c7dd&auto=format&fit=crop&w=2851&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-section-1 {
  background-image: url('./img/polygon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  color: #3f9;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  transition: all .2s ease-in-out;
}

.main-section-1 h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

.main-header-p {
  color: white;
}

h2 {
  font-size: 2rem;
}

.main-section-1-content {
  padding: 7rem 0 0 0;
  margin: 3rem 0 0 2rem;
}

.main-section-2 {
  color: black;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f0f0f0;
  min-height: 50vh;
}

.main-section-3 {
  background-color: #404040;
  color: white;
  padding: 2rem;
  min-height: 60vh;
}

.section-header {
  text-align: center;
}

/* cards */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* service card */

.card-service {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 90%;
  max-width: 250px;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.card-service:hover {
  transform: scale(1.05);
}

.card-service-img {
  height: 100px;
  width: 100px;
}

.service {
  background-color: #3f9;
}

.card-img, .card-content {
  height: 50%;
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.card-img .card-team-img {
  height: 192px;
  width: 192px;
}

/* team card */

.card-team {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 90%;
  max-width: 250px;
  margin: 2rem;
}

.card-team-img {
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-team-name {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  color: #3f9;
}

.card-team-role {
  margin: 0 0 0.5rem 0;
}

.card-team-desc {
  font-size: 0.9rem;
  margin: 0;
}

.main-footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* media queries */

@media (min-width: 768px) {

  .main-img-layer {
    height: 70vh;
  }

  .main-section-1 {
    margin-top: -8rem;
    height: 80vh;
  }
  .main-section-1-content {
    margin: 8rem 0 0 6rem;
  }
  .card-container {
    flex-direction: row;
    justify-content: center;
  }
  .card {
    margin: 4rem 3rem;
  }
}

@media (min-width: 1000px) {
  .main-section-1 {
    margin-top: -12rem;
  }
  .main-section-1-content {
    margin: 12rem 0 0 8rem;
  }
}